body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}


.hello_world{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: white;
    height: 15em;
    width: 95%;
}

#anotacion{
    font-style: italic;
    font-size: large;
}